import os

# External services configuration
# Fill these values before running the project

MARIADB = {
    "NAME": os.getenv("DB_NAME", "jarvis_ai_sitebuilder"),
    "USER": os.getenv("DB_USER", "jarvis_ai_sitebuilder"),
    "PASSWORD": os.getenv("DB_PASSWORD", ""),
    "HOST": os.getenv("DB_HOST", "127.0.0.1"),
    "PORT": os.getenv("DB_PORT", "3306"),
}

'''
GOOGLE_OAUTH = {
    "CLIENT_ID": os.getenv("GOOGLE_CLIENT_ID", ""),
    "CLIENT_SECRET": os.getenv("GOOGLE_CLIENT_SECRET", ""),
}
'''

GOOGLE_OAUTH = {
    "CLIENT_ID": os.getenv("GOOGLE_CLIENT_ID", ""),
    "CLIENT_SECRET": os.getenv("GOOGLE_CLIENT_SECRET", ""),
}

# Base site URL (adjust if you deploy elsewhere)
SITE_URL = os.getenv("SITE_URL", "http://localhost:8000")

DIR_USER_PREFIX = 'users'
DIR_IMAGES_PREFIX = 'imgs'
DIR_SITES_PREFIX = 'sites'

AI_PROXY = f'http://192.168.88.11:3128'
CHATGPT_API_KEY = ''


THREADS_PARALLEL_MAX_COUNT = 5